body {
    background-color: #EFEFEF;
}

a {
    text-decoration: none!important;
}

.picture:hover .image {
    opacity: 0.3;
}

.picture:hover .middle {
    opacity: 1;
}

.lettercolor1 {
    color: #A9A9A9;
}

.maxWidth {
    max-width: 10px;
}

.middle {
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.picturepadding {
    padding-bottom: 10px;
}

.address {
    font-size: 16px;
    padding-top: 10px;
}

.searchJobsBtn {
    padding-top: 10px;
    position: relative;
    right: 15px
}

.job-section {
    background: #EFEFEF;
}
